<div>
  <h1>Welcome to Access Page</h1>
  <p>This is the access controller template.</p>
    <h1><%= @message %></h1>
  <p>This is rendered from a HEEx template file.</p>
  <button phx-click="change_message">Click Me</button>
</div>